* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
h2 {
  font-size: 64px;
  line-height: 1.3125;
  font-weight: 500;
  @include pad {
    font-size: 50px;
  }
  @include mobile {
    font-size: 40px;
  }
}
